* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

.marg {
    margin: 10px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

 a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  } 

@font-face {
    font-family:redaction20;
    src: url(redaction20.otf);
    }

@font-face {
    font-family:redaction20bold;
    src: url(redaction20bold.otf);
    }

@font-face {
    font-family:redaction20italic;
    src: url(redaction20italic.otf);
    }

@font-face {
    font-family:hiragino;
    src: url(hiraginomarugothicpronw4.otf);
}

.p1 {
    font-family: redaction20;
    font-size: 14px;
    color: black;
    line-height: 25px;
}

.h1 {
    font-family:redaction20bold;
    font-size: 22px;
    color: black;
}

.h2 {
    font-family: hiragino;
    font-size: 26px;
    color: black;
}

.p2 {
    font-family: redaction20italic;
    font-size: 14px;
    color: black;
    line-height: 25px;
}

.p3 {
    font-family: redaction20bold;
    font-size: 14px;
    color: black;
    line-height: 25px;
}

.container {
    /* background: lightblue; */
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
}

.left {
    /* background: lightcoral; */
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.title {
    /* background: lightgray; */
    height: 10%;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.navigation {
    /* background: lightgreen; */
    height: 20%;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    border-top: solid 1px black;
}

.about {
    /* background: lightgoldenrodyellow; */
    height: 70%;
    width: 100%;
    padding: 20px;
    border-top: solid 1px black;
}

.right {
    /* background: lavender; */
    width: 80%;
    height: auto;
    overflow: scroll;
    padding-top: 60px;
    padding-right: 20px;
}

.project {
    /* background: lightpink; */
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
}

.carousel {
    /* background: orange; */
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;
}

.description {
    /* background: tomato; */
    height: auto;
    width: 100%;
    padding: 20px;
}