* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    font-family: Helvetica;
    color:rgb(75, 75, 75);
    margin-top: 0;
}

a:link {
    color:rgb(115, 115, 115);
}

a:visited {
    color:rgb(115, 115, 115);
}

a:hover {
    color:rgb(115, 115, 115);
}

a:active {
    color:rgb(115, 115, 115);
}

img {
    height: 350px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    justify-content: space-evenly;
}

.toppanel {
    background-color:rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(16px);
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: hidden;
}

.bottompanel {
    padding-left: 10px;
    padding-top: 10px;
}

@media screen and (max-width:500px) {
img {
    height: 100%;
    max-width: 95%;
}
}