img {
    max-width:100%;
    margin: 15px;
    border: 1px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    background: #FFFCE2;
}

.colortext {
    color:  #aaa689;
}

.container {
    /* background: lightcyan; */
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutcolumn {
    /* background: lightskyblue; */
    width: 25%;
    padding: 5px;
}

.workwrap {
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.workcolumn {
    /* background: lightcoral; */
    width: 50%;
    height: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;

    border-left: 1px solid black;
    overflow-y: scroll;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

@media screen and (max-width:800px) {

.container {
    flex-direction: column;
    height: 100vh;
}

.aboutcolumn {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    overflow-y: scroll;
}

.workwrap {
    width: 100%;
    height: 80%;
}

img {
    margin: 5px;
}

}